

.welcome-header{
	@include bck-image-style(580px, 'http://nutri.me/images/welcome-header.png');
}

.welcome-header-text-holder{
	@include opacity-box(300px, 50%);
	
}

.welcome-header-text{
	h1{
		@include text-style(normal, 5em);
	}
	p{
		@include text-style(bold, 1.5em);
	}
}

.header-title{
	@include text-style(bold, 3em, $green);
}

.header-text{
	@include text-style(normal, 1.2em, $align:justify);
}

.title{
	text-align: center;
	font:{
		size: 3em;
	}
	color: $green;
}

.team-pics{
	@include bck-image-style(350px, 'http://nutri.me/images/welcome-header.png');
}

.blog-img{
	@include bck-image-style(250px, 'http://nutri.me/images/welcome-header.png');
}

.testimonial-name{
	@include text-style(normal, 1.5em, black, $align:justify, $fstyle:italic);
}

.testimonial-text{
	@include text-style(normal, 1.2em, #a6a6a6, $align:justify, $fstyle:italic);
}

.register-bck{
	@include bck-image-style(100vh, 'http://nutri.me/images/register-background.jpg');
}

.register-text-holder{
	@include opacity-box(28em, 10%);
}

.register-text{
	@include text-style(normal, 2em);
}

.login-text-holder{
	@include opacity-box(23em, 20%);
}

.nutritionist-request-bck{
	@include bck-image-style(140vh, 'http://nutri.me/images/register-background.jpg');
}

.nutritionist-request-text-holder{
	@include opacity-box(52em,3%);
}